.categorias {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.buscar {
    text-align: center;
    background-color: var(--background-secundary-color);
    border-radius: 8px;
    color: var(--text-primary-color);
    width: 312px;
    height: 220px;
    text-decoration: none;
    padding: 10px;
}


.buscar_icone {
    margin: 24px 0 20px;
}

.buscar_icone-nacional {
    margin-bottom: 30px;
}

.buscar_icone-transfer {
    margin: 45px 0 28px;
}

@media screen and (min-width:768px) {
    .categorias{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
}
}

@media screen and (min-width: 1024px) {
    .buscar {
        width: 350px;
    }
}

@media screen and (min-width:1440px) {
    .buscar {
        width: 281.25px;
    }

    .buscar_icone-nacional {
        margin-bottom: 14.5px; 
    }
}

