.sessao-feedback-comentario {
    margin-bottom: 32px;
}

.depoimentos p {
    font-size: 16px;
    margin-bottom: 8px;
}

.depoimentos h3 {
    font-size: 20px;
    margin-bottom: 8px;
}

.perfil-cliente  {
    display: flex;
    align-items: center;
    width: 286px;
    height: 86px;
    justify-content: space-between;
}

.stars {
    font-size: 32px;
    color: var(--button-primary-color);
}

@media screen and (min-width: 1440px) {
    .sessao-feedback {
        display: flex;
        width: 1200px;
        justify-content: space-around;
        gap: 24px;
    }
}