.sessao-destino {
    width: 312px;
    margin: 0 auto;
}

.destino_titulo {
    margin-top: 24px;
}

.destino_descricao {
    margin-bottom: 24px;
}

.destino_imagem {
    width: 312px;
    height: 360px;
}

.destino_botao {
    width: 312px;
    margin-bottom:40px;
}

@media screen and (min-width: 768px) {
    .sessao-destino {
        width: 648px;
    }

    .destino_imagem {
        width: 648px;
        height: 452px;
    }
} 

@media screen and (min-width: 1024px) {
    .sessao-destino {
        width: 900px;
    }

    .destino_imagem {
        width: 100%;
        height: 560px;
    }
} 

@media screen and (min-width: 1440px) {
    .destinos-favoritos {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }

    .destino_imagem {
        width: 588px;
        height: 452px;
    }
}