.destino_titulo {
    margin-top: 24px;
}

.destino_imagem {
    height: 360px;
    margin: auto;
}

.destino_imagem-tokyo {
    background: url(../img/Mobile/Destinations/Destination-tokyo-mobile.jpg) no-repeat;
    background-size: cover;
}

.destino_imagem-osaka {
    background: url(../img/Mobile/Destinations/Destination-osaka-mobile.jpg);
    background-size: cover;
}

.destino_botao {
    width: 312px;
    margin-bottom:40px;
}

@media screen and (min-width: 768px) {
    .destino_imagem {
        height: 452px;
    }

    .destino_imagem-tokyo {
        background: url(../img/Tablet/Destinations/Destination-tokyo-tablet.jpg);
        background-size: cover;
    }

    .destino_imagem-osaka {
        background: url(../img/Tablet/Destinations/Destination-osaka-tablet.jpg);
        background-size: cover;
    }
} 

@media screen and (min-width: 1024px) {
    .destino_imagem {
        width: 100%;
        height: 560px;
    }
} 

@media screen and (min-width: 1440px) {
    .destinos-favoritos {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }

    .destino_imagem {
        width: 588px;
        height: 452px;
    }

    .destino_imagem-tokyo {
        background: url(../img/Desktop/Destinations/Destination-tokyo-desktop.jpg);
        background-size: cover;
    }

    .destino_imagem-osaka {
        background: url(../img/Desktop/Destinations/Destination-osaka-desktop.jpg);
        background-size: cover;
    }
}