header {
    background-color: var(--background-tertiary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 38px 48px;
    position: relative;
}


.logo {
    display: inline-block;
    width: 68px;
    height: 64px;
}

.navegacao-menu {
    margin-top:   24px;
}

input[type="checkbox"]:checked ~ nav {
    display: block;
    background-color: var(--background-tertiary-color);
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
}

.navegacao-menu__lista {
    display: none;
}

.navegacao-menu__lista__list-links li {
    margin: 16px 0 16px 50px ;
    list-style: none;
    
}

.navegacao-menu__lista__list-links li a{
    color: var(--text-tertinary-color);
    font-weight: var(--font-weight-menu);
    text-decoration: none;
}