.card {
    background-color: var(--background-tertiary-color);
    width: 312px;
    height: 288px;
    border-radius: 16px;
    text-align: center;
}

.card header p{
    display: block;
    font-size: 20px;
    font-weight: var(--font-weight-text);
    color: var(--text-quinary-color);
    padding: 30px 0 12px 0;
} 

.card section {
    font-weight: var(--font-weight-title);
    color: var(--text-quinary-color);
    margin-bottom: 24px;
}

.card section h3 {
    font-size: 40px;
    font-style: Bold;
    margin-bottom: 24px;
}

.card section span {
    font-size: 32px;
    font-style: Bold;
}


@media screen and (min-width:1024px) {
    .card {
        width: 588px;
        height: 308px;
    }

    .card section h3 {
    font-size: 48px;
    }

    .card section span {
        font-size: 40px;
    }
}