.condicoes_titulo {
    margin-bottom: 24px;
}

.conteudo-imagem {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    height: 460px;
    width: 100%;
}

.imagem-malas {
    background-size: cover;
    background: url(../img/Mobile/Payments-Conditions/Montagem\ japão\ 1.svg) no-repeat;
}

.imagem-passaporte {
    background-size: cover;
    background: url(../img/Mobile/Payments-Conditions/Montagem\ japão\ 2.svg) no-repeat;
}

.imagem-vista {
    grid-column: span 2;
    background-size: cover;
    background: url(../img/Mobile/Payments-Conditions/Montagem\ japão\ 3.svg) no-repeat;
}

/* Pacote viagens */

.pacote-viagens_valor {
    font-size: 40px;
}

.pacote-viagens_main .imagem-malas {
    background-size: cover;
    background: url(../img/Mobile/Payments-Conditions/Pacote-Viajens/Construção1-mobile.png) no-repeat;
}

.pacote-viagens_main .imagem-passaporte {
    background-size: cover;
    background: url(../img/Mobile/Payments-Conditions/Pacote-Viajens/NoiteCidade2-mobile.png) no-repeat;
}

.pacote-viagens_main .imagem-vista {
    grid-column: span 2;
    background-size: cover;
    background: url(../img/Mobile/Payments-Conditions/Pacote-Viajens/image3-mobile.jpg) no-repeat;
}

@media screen and (min-width: 768px) {
    .imagem-malas {
        background: url(../img/Tablet/Payment/Montagem\ japão\ 1.svg) no-repeat;
    }

    .imagem-passaporte {
        background: url(../img/Tablet/Payment/Montagem\ japão\ 2.svg) no-repeat;
    }

    .imagem-vista {
        background: url(../img/Tablet/Payment/Montagem\ japão\ 3.svg) no-repeat;
    }

    /* Pacote viagens */

    .button-pacotes {
        display: none;
    }

    .pacote-viagens_main .imagem-malas {
        background: url(../img/Tablet/Payment/Pacote-viagens/Construção1-tablet.png) no-repeat;
    }

    .pacote-viagens_main .imagem-passaporte {
        background: url(../img/Tablet/Payment/Pacote-viagens/NoiteCidade2-tablet.png) no-repeat;
    }

    .pacote-viagens_main .imagem-vista {
        background: url(../img/Tablet/Payment/Pacote-viagens/Montagem\ japão\ 3.png) no-repeat;
    }

}

@media screen and (min-width: 1024px) {
    .divisao {
        width: 648px;
    }
}

@media screen and (min-width: 1440px) {
    .divisao {
        width: 1197px;
    }

    .divisao {
        display: flex;
        justify-content: space-between;
    }

    .condicoes_titulo {
        width: 285px;
    }

    .conteudo-imagem {
        width: 790px;
    }

    .condicoes_descricao {
        width: 360px;
    }

    .imagem-malas {
        background: url(../img/Desktop/Payments/Montagem\ japão\ 1.svg) no-repeat;
    }

    .imagem-passaporte {
        background: url(../img/Desktop/Payments/Montagem\ japão\ 2.svg) no-repeat;
    }

    .imagem-vista {
        background: url(../img/Desktop/Payments/Montagem\ japão\ 3.svg) no-repeat;
    }


    /* Pacote viagens */

    .pacote-viagens_main .info-condicoes {
        display: flex;
        align-items: center;
    }

    .pacote-viagens_main .imagem-malas {
        background: url(../img/Desktop/Payments/Pacote-viagens/Construção1.png) no-repeat;
    }

    .pacote-viagens_main .imagem-passaporte {
        background: url(../img/Desktop/Payments/Pacote-viagens/NoiteCidade2.png) no-repeat;
    }

    .pacote-viagens_main .imagem-vista {
        background: url(../img/Desktop/Payments/Pacote-viagens/Montagem\ japão\ 3.png) no-repeat;
    }

}