@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-primary-color: #fff ;
    --background-secundary-color: #F5F5F5;
    --background-tetiary-color: #000000;

    --bottom-primary-color: #B81515;
    --bottom-seconday-color: #8F0101;

    --text-primary-color: #000000;
    --text-secondary-color: #222222; 
    --text-tertinary-color: #f5f5f5;
    --text-quaternary-color: #8C8C8C;

    --font-montserrat: "Monteserrat", sans-serif;
    
    
} 